# Node files and folders
node_modules/
npm-debug.log
npm-shrinkwrap.json
package-lock.json

# Yarn dependency lock
yarn.lock

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
